body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
                url('landing.png') center/cover no-repeat;
    color: white;
}

.overlay {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info-overlay {
    position: absolute;
    bottom: 20px;
    left: 50px;
    font-size: 24px;
    line-height: 1.5;
    color: white;
    font-weight: bold;
}

.btn {
    margin-top: 200px;
    margin-left: 1000px;
    background: orange;
    padding: 15px 35px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
